# Data Cleaning:

1) Deleting redundant columns.

2) Renaming the columns.

3) Dropping duplicates.

4) Cleaning individual columns.

5) Remove the NaN values from the dataset

6) Check for some more Transformations

In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\hp\Downloads\Zomato\zomato.csv")

In [3]:
df.head()

,url,address,name,online_order,book_table,rate,votes,phone,location,rest_type,dish_liked,cuisines,approx_cost(for two people),reviews_list,menu_item,listed_in(type),listed_in(city)
0,https://www.zomato.com/bangalore/jalsa-banasha...,"942, 21st Main Road, 2nd Stage, Banashankari, ...",Jalsa,Yes,Yes,4.1/5,775,080 42297555\r\n+91 9743772233,Banashankari,Casual Dining,"Pasta, Lunch Buffet, Masala Papad, Paneer Laja...","North Indian, Mughlai, Chinese",800,"[('Rated 4.0', 'RATED\n A beautiful place to ...",[],Buffet,Banashankari
1,https://www.zomato.com/bangalore/spice-elephan...,"2nd Floor, 80 Feet Road, Near Big Bazaar, 6th ...",Spice Elephant,Yes,No,4.1/5,787,080 41714161,Banashankari,Casual Dining,"Momos, Lunch Buffet, Chocolate Nirvana, Thai G...","Chinese, North Indian, Thai",800,"[('Rated 4.0', 'RATED\n Had been here for din...",[],Buffet,Banashankari
2,https://www.zomato.com/SanchurroBangalore?cont...,"1112, Next to KIMS Medical College, 17th Cross...",San Churro Cafe,Yes,No,3.8/5,918,+91 9663487993,Banashankari,"Cafe, Casual Dining","Churros, Cannelloni, Minestrone Soup, Hot Choc...","Cafe, Mexican, Italian",800,"[('Rated 3.0', ""RATED\n Ambience is not that ...",[],Buffet,Banashankari
3,https://www.zomato.com/bangalore/addhuri-udupi...,"1st Floor, Annakuteera, 3rd Stage, Banashankar...",Addhuri Udupi Bhojana,No,No,3.7/5,88,+91 9620009302,Banashankari,Quick Bites,Masala Dosa,"South Indian, North Indian",300,"[('Rated 4.0', ""RATED\n Great food and proper...",[],Buffet,Banashankari
4,https://www.zomato.com/bangalore/grand-village...,"10, 3rd Floor, Lakshmi Associates, Gandhi Baza...",Grand Village,No,No,3.8/5,166,+91 8026612447\r\n+91 9901210005,Basavanagudi,Casual Dining,"Panipuri, Gol Gappe","North Indian, Rajasthani",600,"[('Rated 4.0', 'RATED\n Very good restaurant ...",[],Buffet,Banashankari

In [4]:
df.shape

(51717, 17)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51717 entries, 0 to 51716
Data columns (total 17 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   url                          51717 non-null  object
 1   address                      51717 non-null  object
 2   name                         51717 non-null  object
 3   online_order                 51717 non-null  object
 4   book_table                   51717 non-null  object
 5   rate                         43942 non-null  object
 6   votes                        51717 non-null  int64
 7   phone                        50509 non-null  object
 8   location                     51696 non-null  object
 9   rest_type                    51490 non-null  object
 10  dish_liked                   23639 non-null  object
 11  cuisines                     51672 non-null  object
 12  approx_cost(for two people)  51371 non-null  object
 13  reviews_list                 51717 non-null  object
 14  menu_item                    51717 non-null  object
 15  listed_in(type)              51717 non-null  object
 16  listed_in(city)              51717 non-null  object
dtypes: int64(1), object(16)
memory usage: 6.7+ MB

In [6]:
df.columns

Index(['url', 'address', 'name', 'online_order', 'book_table', 'rate', 'votes',
       'phone', 'location', 'rest_type', 'dish_liked', 'cuisines',
       'approx_cost(for two people)', 'reviews_list', 'menu_item',
       'listed_in(type)', 'listed_in(city)'],
      dtype='object')

### 1) Deleting redundant columns.

There are 2 ways

In [7]:
columns_to_keep = ['name', 'online_order', 'book_table', 'rate','votes','rest_type' ,'cuisines','approx_cost(for two people)','listed_in(type)', 'listed_in(city)']
columns_to_drop = ['url', 'address','dish_liked','phone', 'location', 'reviews_list', 'menu_item', ]

In [8]:
print("columns to keep: ",len(columns_to_keep))
print("Or")
print("columns to drop: ",len(columns_to_drop))

columns to keep:  10
Or
columns to drop:  7

1st way

In [9]:
df[columns_to_keep].head()

,name,online_order,book_table,rate,votes,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Jalsa,Yes,Yes,4.1/5,775,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari

In [10]:
modify_df = df[columns_to_keep]
modify_df.head() # we have saved it in a different df frame

,name,online_order,book_table,rate,votes,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Jalsa,Yes,Yes,4.1/5,775,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari

2nd Way

In [11]:
df.drop(columns = columns_to_drop, inplace = True)

In [12]:
df.head()

,name,online_order,book_table,rate,votes,rest_type,cuisines,approx_cost(for two people),listed_in(type),listed_in(city)
0,Jalsa,Yes,Yes,4.1/5,775,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari

In [13]:
print('''Columns i kept:
''' ,df.columns )

Columns i kept:
 Index(['name', 'online_order', 'book_table', 'rate', 'votes', 'rest_type',
       'cuisines', 'approx_cost(for two people)', 'listed_in(type)',
       'listed_in(city)'],
      dtype='object')

### 2) Renaming the columns.

In [14]:
df.rename(columns = {"name":"restaurant_name","rate":"rating","approx_cost(for two people)":"cost_for_two", "listed_in(city)":"location","listed_in(type)":"listing_type"},inplace = True)

In [15]:
#checking if there is any extra spaces in column names and removing it
df.columns= df.columns.str.replace(" ","")
df.head()

,restaurant_name,online_order,book_table,rating,votes,rest_type,cuisines,cost_for_two,listing_type,location
0,Jalsa,Yes,Yes,4.1/5,775,Casual Dining,"North Indian, Mughlai, Chinese",800,Buffet,Banashankari
1,Spice Elephant,Yes,No,4.1/5,787,Casual Dining,"Chinese, North Indian, Thai",800,Buffet,Banashankari
2,San Churro Cafe,Yes,No,3.8/5,918,"Cafe, Casual Dining","Cafe, Mexican, Italian",800,Buffet,Banashankari
3,Addhuri Udupi Bhojana,No,No,3.7/5,88,Quick Bites,"South Indian, North Indian",300,Buffet,Banashankari
4,Grand Village,No,No,3.8/5,166,Casual Dining,"North Indian, Rajasthani",600,Buffet,Banashankari

### 3) Dropping duplicates.

In [16]:
df.duplicated().sum()

np.int64(124)

In [17]:
df.duplicated().value_counts()

False    51593
True       124
Name: count, dtype: int64

In [18]:
df[df.duplicated()]

,restaurant_name,online_order,book_table,rating,votes,rest_type,cuisines,cost_for_two,listing_type,location
596,My Tea House,Yes,Yes,NEW,0,Casual Dining,"Continental, Asian, North Indian, Tea",500,Dine-out,Banashankari
2235,Shiv Sagar,No,No,3.6/5,10,Food Court,"South Indian, Beverages",400,Dine-out,Bannerghatta Road
3763,The Fisherman's Wharf,Yes,Yes,4.4/5,4099,"Casual Dining, Bar","Seafood, Goan, North Indian, Continental, Asian","1,400",Buffet,Bellandur
4144,Artinci Artisanal Ice Cream,Yes,No,NEW,0,Dessert Parlor,"Ice Cream, Desserts",300,Delivery,Bellandur
4339,Biryani Treat,No,No,NaN,0,Quick Bites,Biryani,400,Delivery,Bellandur
...,...,...,...,...,...,...,...,...,...,...
49432,Biryani Treat,No,No,NaN,0,Quick Bites,Biryani,400,Delivery,Sarjapur Road
50011,Best Biryani,No,No,NaN,0,Quick Bites,"North Indian, Biryani, Desserts",300,Dine-out,Sarjapur Road
50379,House Of Candy,Yes,No,NaN,0,Confectionery,Desserts,200,Delivery,Whitefield
50405,House Of Candy,Yes,No,NaN,0,Confectionery,Desserts,200,Delivery,Whitefield
50904,Nawab Di Biryani,Yes,No,NEW,0,"Takeaway, Delivery","Biryani, Mughlai",400,Delivery,Whitefield

In [19]:
# dropping duplicate values
df.drop_duplicates(inplace = True)

In [20]:
df.duplicated().sum()

np.int64(0)

### 4) Cleaning individual columns.
### 5) Remove the NaN values from the dataset
### 6) Check for some more Transformations

In [21]:
df.isna().sum()

restaurant_name       0
online_order          0
book_table            0
rating             7740
votes                 0
rest_type           227
cuisines             45
cost_for_two        344
listing_type          0
location              0
dtype: int64

In [22]:
df["rating"].value_counts() # here we see that rating have Null values as well as  "NEW" category which is misleading, so lets replace "NEW" with NULL

rating
NEW       2194
3.9/5     2095
3.8/5     2020
3.7/5     2009
3.9 /5    1872
          ...
2.2 /5       7
2.0 /5       7
2.0/5        4
1.8 /5       3
1.8/5        2
Name: count, Length: 64, dtype: int64

In [23]:
df['rating']=df['rating'].apply(lambda x: np.nan if x=='NEW' else x)

In [24]:
df["rating"].value_counts()

rating
3.9/5     2095
3.8/5     2020
3.7/5     2009
3.9 /5    1872
3.8 /5    1850
          ...
2.2 /5       7
2.0 /5       7
2.0/5        4
1.8 /5       3
1.8/5        2
Name: count, Length: 63, dtype: int64

In [25]:
df.isna().sum()

restaurant_name       0
online_order          0
book_table            0
rating             9934
votes                 0
rest_type           227
cuisines             45
cost_for_two        344
listing_type          0
location              0
dtype: int64

In [26]:
df.shape

(51593, 10)

In [27]:
#dropping the rows rom below columns 
df.dropna(subset=['rest_type','cuisines','cost_for_two'],inplace = True)

In [28]:
df.isna().sum()

restaurant_name       0
online_order          0
book_table            0
rating             9771
votes                 0
rest_type             0
cuisines              0
cost_for_two          0
listing_type          0
location              0
dtype: int64

In [29]:
#lets clean the rating column value and convert the datatype to int
df['rating']=df['rating'].str.split("/").str[0]
df['rating']=pd.to_numeric(df['rating'],errors='coerce')

In [30]:
#lets convert cost_for_two column as integer , will help us to perform arthimatic operations on it 
df['cost_for_two']=df['cost_for_two'].str.replace(",","",regex=True).astype(int)  #there is "," available in couple of value like 1,200 and 1,500

In [31]:
#lets do the Bi-variate analysis of rating and votes features using pearson correlation method
df1=df[['rating','votes','cost_for_two']]
df1.corr()

                rating     votes  cost_for_two
rating        1.000000  0.434746      0.384481
votes         0.434746  1.000000      0.380843
cost_for_two  0.384481  0.380843      1.000000

In [32]:
#Inference- there is no correleation between rating and votes features so we will use mean method of imputation for rating feature,
#since it has normal distribution
df['rating']=df['rating'].fillna(df['rating'].mean())

In [33]:
df.isna().sum()

restaurant_name    0
online_order       0
book_table         0
rating             0
votes              0
rest_type          0
cuisines           0
cost_for_two       0
listing_type       0
location           0
dtype: int64

In [34]:
df.to_csv("cleaned_df", index = False)